/*
* @Author: yangxiooping
* @Date:   2018-06-06 14:38:34
* @Last Modified by:   yangxiooping
* @Last Modified time: 2018-06-06 18:58:34
*/

 @font-face {
   font-family: 'MyFont';
   src:  url('FZYHJW.ttf');
   font-weight: 600;
   font-style: normal;
 }

.hello {
  color: red;
  font-family: 'MyFont';
}